{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Ask&Run - The forum of controversial questions</title>
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container-fluid custom-container">

            <div class="d-flex align-items-center">
                <a class="navbar-brand me-4 fs-3" href="{% url 'index' %}">Ask&Run</a>
                <form class="input-group">
                    <input
                        class="form-control me-sm-2 pe-1"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                    <button type="submit" class="btn btn-outline-secondary bg-light">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>

            {% if user.is_authenticated %}
            <div class="d-flex gap-2 align-items-center">
                <a href="{% url 'ask' %}" class="btn btn-success btn-lg me-5">ASK!</a>
                
                <div class="d-flex gap-4 align-items-center profile ms-5">
                <div>
                    <img src="{{ user.profile.get_avatar_url }}"
                         class="rounded-circle avatar" alt="Profile avatar">
                </div>
                <div class="content text-white">
                    <div class="content__name fe-5">{{ user.username }}</div>
                    <div class="content__links">
                        <a href="{% url 'settings' %}" class="me-2 custom-link">Settings</a>
                        <a href="{% url 'logout' %}" class="custom-link">Log out</a>
                    </div>
                </div>
            </div>
            {% else %}
            <!-- Для неавторизированных  -->
            <div class="d-flex gap-2 ms-5">
                <a href="{% url 'login' %}" class="btn btn-outline-light">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
            </div>
            {% endif %}
            </div>
        </div>
    </nav>
    
    <main class="container-fluid custom-container flex-grow-1 mt-1 bg-custom">
        <div class="d-flex gap-5">
            <div class="col mt-3 mb-4 ps-3 pt-3 bg-custom-el rounded-3">
                {% block content %}
                {% endblock %}
            </div>
    
            <aside class="col-3 mt-3 ps-3 bg-custom-el rounded-3 align-self-start">
                <section class="mb-3">
                    <h3 class="mt-3">Popular Tags</h3>
                    <div>
                        {% for tag in popular_tags %}
                            {% with tag_theme=forloop.counter0|stringformat:"s"|slice:":1" %}
                                <a href="{% url 'tag' tag_name=tag.name %}" 
                                   class="tag tag-{% cycle 'primary' 'secondary' 'success' 'danger' 'warning' 'info' 'dark' %}">
                                   {{ tag.name }}
                                </a>
                            {% endwith %}
                        {% empty %}
                            <div class="text-muted">No tags yet</div>
                        {% endfor %}
                    </div>
                </section>
    
                <section class="pb-4">
                    <h3>Best Members</h3>
                    <div>
                        {% for member in best_members %}
                            <a class="d-block pb-1 custom-link" href="#">{{ member.user.username }}</a>
                        {% empty %}
                            <div class="text-muted">No members yet</div>
                        {% endfor %}
                    </div>
                </section>
            </aside>
        </div>
    </main>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>